$bg-black: #141414;
$white: #fcfcfc;
$gray: #242424;
$yellow: #ffc23c;
$tertiary: #8d99ae;

$sans: "Open Sans", sans-serif;
$raleway: "Raleway", sans-serif;

// *::-webkit-scrollbar,
// *::-webkit-scrollbar-thumb {
//   width: 7px;
//   border-radius: 13px;
//   background-clip: padding-box;
//   border: 1px solid $yellow;
// }

// *::-webkit-scrollbar-thumb {
//   box-shadow: inset 1px 1px 1px 10px;
// }

*::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}
*::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $yellow;
  // border: 1px solid #555555;
  border-radius: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*:focus {
  outline: none;
}
html {
  height: -webkit-fill-available;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background-color: $bg-black;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px;
    border-bottom: 1px solid $yellow;
    a {
      display: block;
    }
    .search-box-container {
      width: 400px;
      position: relative;
      background-color: $gray;
      height: 54px;
      border-radius: 15px;
      padding-left: 15px;
      .search-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        height: 100%;
        outline: none;
        border: none;
        background-color: transparent;
        font-family: $raleway;
        font-weight: 500;
        text-transform: capitalize;
        color: $white;
        font-size: 18px;
        padding-left: 15px;
        &::placeholder {
          color: $yellow;
          opacity: 0.9;
        }
      }
      input:focus::placeholder {
        opacity: 0.7;
      }
      .search-icon {
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        z-index: 2;
      }
      .search-bar:hover + .search-icon {
        opacity: 0.7;
      }
    }
  }
  .breadcrumb-container {
    .breadcrumbs {
      list-style: none;
      display: flex;
      padding: 8px 10px;
      li {
        margin: 16px 10px;
        a {
          color: $white;
          text-decoration: none;
          font-family: $raleway;
          font-weight: 500;
          &:hover {
            transition-delay: 50ms;
            transition: 50ms;
            color: $yellow;
          }
        }
        .active {
          color: $yellow;
        }
      }
      li + li:before {
        padding: 8px;
        color: $white;
        content: "/\00a0";
      }
    }
  }
  article {
    width: 900px;
    min-height: 600px;
    border: 2px solid $yellow;
    margin: 10px auto;
    .article-head {
      display: grid;
      grid-auto-columns: 1fr;
      grid-template-columns: 0.2fr 3.6fr 0.6fr;
      gap: 0px 15px;
      //   background-color: red;
      justify-content: center;
      // align-items: center;
      background-color: $gray;
      padding: 25px 20px 15px 20px;
      .icon-container {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 40px;
          height: 40px;
        }
      }

      .title-author-container {
        .article-title {
          font-family: $raleway;
          color: $white;
          font-weight: 500;
          letter-spacing: 0.4px;
        }
        .article-author {
          margin-top: 10px;
          font-family: $sans;
          color: $white;
          opacity: 0.7;
          font-weight: 400;
          span {
            margin-left: 10px;
            display: inline-block;
          }
        }
      }
    }
    .article-content {
      font-family: $sans;
      color: $white;
      padding: 10px;
      p {
        margin: 16px;
        font-size: 18px;
        line-height: 2.5;
        // font-size: ;
      }
      .code {
        width: 90%;
        margin: 10px auto;
        background-color: $gray;
        border: 1px solid $white;
        min-height:300px ;
        overflow: hidden;
        padding: 15px 10px;
        border-radius: 15px;
        font-family: $raleway;
        font-size: 16px;
        line-height: 1.2;
      }
      .example{
        width: 90%;
        margin: 20px auto;
        background-color: $gray;
        border: 1px solid $white;
        min-height:100px ;
        overflow: hidden;
        padding: 15px 10px;
        border-radius: 15px;
        font-family: $raleway;
        font-size: 16px;
        line-height: 1.2;

      }
    }
  }

  .recommendations {
    width: 100%;
    margin: 60px auto 30px auto;
    text-align: center;
    h2 {
      font-family: $raleway;
      color: $white;
      font-weight: 500;
    }
  }

  .article-snippets-container {
    width: 100%;
    // padding: 5px 0;
    .snippet {
      padding: 15px;
      width: 800px;
      height: 150px;
      margin: 30px auto;
      cursor: pointer;
      position: relative;
      list-style-type: none;
      border: 2px solid;
      border-image-slice: 1;
      border-width: 2px;
      border-image-source: linear-gradient(160deg, $yellow, $white);
      // border-image-source: linear-gradient(160deg, $gray, $white);
      transition: 0.4s all ease-in-out;
      border-radius: 15px;
      .snippet-header {
        width: 100%;
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 0.2fr 3.2fr 0.2fr;
        gap: 0px 10px;
        //   background-color: red;
        justify-content: center;
        align-items: center;
        .icon-container {
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          // background-color: pink;
          img {
            width: 40px;
            height: 40px;
          }
        }
        .share-icon-container {
          width: 30px;
          justify-content: end;
          cursor: pointer;
          img {
            margin-left: 100%;

            width: 100%;
            opacity: 0.5;
            &:hover {
              opacity: 0.9;
            }
          }
        }
        .snippet-title-tag {
          align-items: flex-start;
          a {
            text-decoration: none;
            color: $white;
            h2 {
              font-family: $raleway;
              font-weight: 500;
              text-align: start;
            }
          }
          .tags-container {
            margin-top: 12px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .tag {
              font-family: $raleway;
              font-size: 10px;
              margin-right: 10px;
              cursor: text;
              color: $gray;
              background-color: white;
              padding: 5px 8px;
              border-radius: 5px;
            }
          }
        }
      }
      .snippet-description {
        margin-top: 20px;
        padding-left: 10px;

        p {
          font-family: $sans;
          font-size: 18px;
          color: $white;
          font-weight: 300;
        }
      }
      .author {
        position: absolute;
        right: 10px;
        bottom: 10px;
        p {
          font-family: $sans;
          font-weight: 300;
          font-size: 12px;
          color: $yellow;
        }
      }

      &:hover {
        border-image-source: linear-gradient(200deg, $gray, $white);
      }
    }
  }

  footer {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0 30px 0;
    border: 1px solid $gray;
    p {
      color: $white;
      font-family: $raleway;
      font-weight: 600;
      margin: 10px 0;
      letter-spacing: 0.2px;
      a {
        color: $yellow;
        text-decoration: none;
        &:hover,
        &:focus {
          color: $white;
        }
      }
    }
  }
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    transition: all 1s ease;
    background-color: transparent;
    width: 40px;
    height: 40px;
    svg {
      width: 100%;
      height: 100%;
      transition: all 0.2s ease;

      path {
        transition: all 0.1s ease-in-out;
      }
    }
    &:hover svg > path {
      stroke: $yellow;
    }
  }
}

@media (max-width: 768px) {
  // Styles for viewports narrower than 768 pixels.

  body {
    header {
      padding: 50px 20px;
    }
    article {
      width: 700px;
    }
    .article-snippets-container .snippet {
      width: 700px;
      padding: 10px 5px;
      .snippet-description {
        font-size: 16px;
      }
      .author {
        p {
          font-size: 10px;
        }
      }
    }
  }
}

@media (max-width: 426px) {
  // Styles for viewports narrower than 425 pixels.
  body {
    header {
      padding: 50px 20px;

      a {
        margin: 0 auto;
        width: 100px;
        img {
          width: 100%;
        }
      }
      .search-box-container {
        width: 250px;
        height: 50px;
        display: none;
      }
    }

    .breadcrumb-container {
      .breadcrumbs {
        padding: 5px;
        li {
          margin: 15px 0;
          a {
            font-size: 12px;
          }
        }
      }
    }
    article {
      width: 365px;
      .article-head {
        padding: 20px 10px 10px 15px;
        .title-author-container {
          .article-title {
            font-size: 20px;
          }
          .article-author {
            font-size: 14px;
            span {
              font-size: 14px;
            }
          }
        }

        .share-icon-container {
          position: relative;
          img {
            position: absolute;
            transform: translateY(-20%);
            width: 30px;
          }
        }
      }
      .article-content {
        p {
          font-size: 16px;
          line-height: 32px;
          margin: 10px;
        }
        .code {
          margin: 15px auto;
        }
      }
    }

    .article-snippets-container .snippet {
      width: 350px;
      min-height: 250px;
      padding: 10px 10px;

      .snippet-header {
        grid-template-columns: 0.2fr 3.2fr;
        .share-icon-container {
          display: none;
        }
      }
      .snippet-description {
        font-size: 16px;
      }
      .author {
        p {
          font-size: 10px;
        }
      }
    }
    footer {
      p {
        font-size: 14px;
      }
    }

    #myBtn {
      bottom: 40px;
    }
  }
}
